.warning {
    background-color: rgba(255, 0, 0, 0.1);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    color: rgb(255, 0, 0);
    margin: 2em auto;
    padding: 1em;
}

.warning a {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
